<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Любимые книги</title>
</head>
<body>
<h1>"Ликвидатор нулевого уровня"</h1>
<h1>Баженов Виктор Олегович, Шелонин Олег Александрович</h1>
<h1>Дата рождения автора - неизвестно</h1>
<h1>Говорите, сказки все это - космические миры, борьба с дьяволом и его приспешниками, прочие писательские выкрутасы? Типа "Красной Шапочки" или "Снежной королевы"?.. Хе-хе!
 Ладно, сказки так сказки... А вот Денис Колобродов больше так не считает, нет. На собственной шкуре испытал и </p>дружбу верную инопланетную, и любовь тираническую принцессы неземной, и путешествия по закоулкам божьих и дьявольских владений... Пусть и нулевого уровня, а все едино - ликвидатор! Кого? Чего? Да нечисти всякой - большой и маленькой... С самим Темным Мастером схлестнулся и рога ему поотшибал - на всякий случай, чтобы помнил силу витязя земного... С любовью вот только не пофартило знатному бойцу... Жаль бедолагу, конечно: не сказочная судьба катком по нему проехала!
 Впрочем, потеряно не все. И порох в пороховницах новых сказочников тлеет неспроста...</h1>
<h1>Цена - 662 руб</h1>
<h1>Книга ОЧЕНЬ интересная</h1>

</body>
</html>