<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Любимые книги</title>
</head>
<body>
<h1>"Каштановый Человечек"</h1>
<h1>Сорен Свейструп</h1>
<h1>Дата рождения автора - 7 января 1968 года (55 лет)</h1>
<h1>Копенгаген терроризирует психопат. Его «визитка» – фигурка каштанового человечка ручной работы (два каштана и спички), которую он оставляет на каждом месте преступления. Исследуя фигурки, криминалисты делают шокирующую находку – отпечаток пальца пропавшей без вести молодой девушки, дочери политика. Тело не найдено. Но по официальной версии девушку похитили и убили в прошлом году.</h1>
<h1>Цена - 1000 руб</h1>
<h1>Книга интересная</h1>

</body>
</html>