<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Любимые книги</title>
</head>
<body>
<h1>"Невеста для императора"</h1>
<h1>Баженов Виктор Олегович, Шелонин Олег Александрович</h1>
<h1>Дата рождения автора - неизвестно</h1>
<h1>Как известно, бывших ликвидаторов не существует, а тем более ликвидаторов нулевого уровня. Поэтому Денис Колобродов целый год изводил себя изнурительными тренировками, лелея мечту возвратиться в сказочный мир к своей невесте, и вовсе не зря. Верный друг Виол Шебалин помог ему в этом трудном деле. И все бы хорошо, но у ликвидатора нулевого уровня, оказывается, есть еще и верные враги, которые ждали его в этом сказочном мире с огромным нетерпением. И вместо увеселительной прогулки по добрым детским сказочкам ему выпало серьезное испытание. На карту была поставлена его душа. Что победит в ней - добро или зло? От этого зависело существование целого мира, и не только сказочного...</h1>
<h1>Цена - 202 руб</h1>
<h1>Книга ОЧЕНЬ интересная</h1>

</body>
</html>