{%load static%}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Животные</title>
</head>
<body>
<h1>Не очень главная страница</h1>
</body>
<img widht="500" height="400"  src="{% static 'humster/img/riba1.jpg'%}">
<img widht="500" height="400"  src="{% static 'humster/img/riba2.jpg'%}">
<img widht="500" height="400"  src="{% static 'humster/img/riba3.jpg'%}">
<img widht="500" height="400"  src="{% static 'humster/img/riba4.jpg'%}">
<img widht="500" height="400"  src="{% static 'humster/img/riba5.jpg'%}">
<img widht="500" height="400"  src="{% static 'humster/img/riba6.jpg'%}">
<img widht="500" height="400"  src="{% static 'humster/img/riba7.jpg'%}">
<img widht="500" height="400"  src="{% static 'humster/img/riba8.jpg'%}">
<img widht="500" height="400"  src="{% static 'humster/img/riba9.jpg'%}">

</body>
</html>